FLASHALPHA_API_KEY=your_flashalpha_api_key_here
MASSIVE_API_KEY=your_polygon_api_key_here
GEXDOCTOR_OUTPUT_PATH=C:\Users\Public\Documents\NinjaTrader 8\bin\Custom\AddOns\gex_nq.json
GEXDOCTOR_INTERVAL=15
GEXDOCTOR_SOURCE=QQQ
